# 保留文件夹结构，但忽略 assert_img 内的所有内容
/img/assert_img/*
# 保留文件夹结构，但忽略 source_img 内的所有内容
/img/source_img/*
/img/ele_img/*
/img/diff_img/*
/UIreport
/UIreport/*
report.html
test.log
logs/*

# Python 缓存文件
*.pyc
*.pyo
*.pyd
__pycache__/**
**/__pycache__/**
*.cpython-*.pyc

# IDE 配置文件（.pythonpath 是个人配置，不需要提交）
.pythonpath

# 虚拟环境
.venv/
venv/
env/
ENV/
logs/test_process.json
page/__pycache__/__init__.cpython-313.pyc
page/__pycache__/LeftMenuPage.cpython-313.pyc
